DB_USERNAME=username
DB_PASSWORD=password
DB_HOST=hostname
DB_NAME=dbname

COGNITO_USER_POOL_ID=poolid
COGNITO_USER_POOL_ARN=poolarn
COGNITO_APP_CLIENT_NAME=clientname
COGNITO_APP_CLIENT_ID=clientid
COGNITO_APP_CLIENT_SECRET=clientsecret

AWS_ACCESS_KEY_ID=awsaccesskey
AWS_SECRET_ACCESS_KEY=awssecretkey
AWS_REGION=us-east-1
